
body {
  padding: 0;
  margin: 0;
}

.custom-menubar {
  font-size: 1.2rem;
  padding: 6px;
  font-weight: bold;
  border: none; 
  border-radius: 0;
}

.custom-modal .p-dialog-header {
  background-color: #4B7DFF;
  color: #FFFFFF;
  font-weight: bold;
}

.input {
  width: 100%;
  margin-top: 1rem;
  padding: 0.8rem;
  font-size: 1rem;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  color: #808080;
}